.main{
  height: 100vh;
  width: 100vw;
}

.header{
  padding: 0 20px;
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  border-bottom: 1px solid black;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}
#watch-list{
  height: 45px;
  width: fit-content;
  background-color: rgba(0, 54, 250, 0.653);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 14px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  justify-content: center;

}
.body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 70px 10px 20px 10px;
  column-gap: 10px;
}

#movie-card{
  height: 180px;
  width: 155px;
 border-radius: 10px;
  display: flex;
  padding-top: 5px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(185, 186, 188, 0.247);
  padding-top: 3px;
  box-shadow: 3px 3px 5px rgba(105, 105, 237, 0.675) ,4px 4px 10px rgba(110, 111, 115, 0.683);
}
#movie-card:hover{
scale: 1.1;
}
#para{
  display: flex;
  column-gap: 8px;
  padding-top: 2px;
  
}
.selected{
  display: none;
}

.visible{
  overflow: hidden;
  width:330px;
  height:500px;
  background-color:rgba(20, 20, 229, 0.904);
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  padding: 5px 0 0 5px;

}
#remove-btn{
  cursor: pointer;
}